{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% if guest_house %}{{ guest_house.short_name|default:guest_house.name }}{% else %}Blue Moon{% endif %}{% endblock %}</title>
    <link href="{% static 'tabler/dashboard/dist/css/tabler.min.css' %}" rel="stylesheet" />
    <link href="{% static 'tabler/dashboard/dist/css/tabler-vendors.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <style>
      @import url("https://rsms.me/inter/inter.css");
    </style>
  </head>
  <body class="d-flex flex-column bg-white">
    <script src="{% static 'tabler/dashboard/dist/js/tabler-theme.min.js' %}"></script>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="{% url 'home' %}" class="navbar-brand navbar-brand-autodark">
            <img src="{% static 'pak.png' %}" alt="{% if guest_house %}{{ guest_house.name }} - Guest House in {{ guest_house.locality }}{% else %}Blue Moon{% endif %}" height="50">
          </a>
        </div>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
              <div>{{ message }}</div>
              <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="{% static 'tabler/dashboard/dist/js/tabler.min.js' %}"></script>
  </body>
</html>
